@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.header-bg {
  height: auto;
  width: 100%;
  background: #f9f9f9;
}
.header-bg nav {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}
.header-bg nav .logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #3b38ad;
  font-weight: 600;
}
.header-bg nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  color: #3b38ad;
  font-weight: 600;
  text-transform: uppercase;
}

.main-bg {
  height: auto;
  width: 100%;
  background: #f9f9f9;
}
.main-bg h1 {
  color: #3b38ad;
  font-size: 160px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  position: relative;
  z-index: 99;
}
.main-bg h1::before {
  content: "bem vindo ao";
  position: absolute;
  left: 0;
  top: -10px;
  color: #3b38ad;
  font-size: 40px;
  font-weight: 400;
}
.main-bg .images-content-box {
  display: flex;
  gap: 40px;
  position: relative;
  margin-left: 70px;
}
.main-bg .images-content-box .image-one {
  width: 350px;
  position: relative;
  z-index: 1;
}
.main-bg .images-content-box .image-two {
  width: 350px;
  position: relative;
  z-index: 1;
  bottom: 80px;
}
.main-bg .images-content-box button {
  display: flex;
  align-self: end;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  outline: none;
  border: none;
  background: #3b38ad;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  left: -390px;
}

.rooms-bg {
  width: 100%;
  height: auto;
  background: #f9f9f9;
}
.rooms-bg h2 {
  color: #3b38ad;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-bottom: 60px;
}
.rooms-bg .rooms-content {
  display: flex;
  justify-content: space-between;
}
.rooms-bg .rooms-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 70px;
  width: 350px;
  height: 400px;
  list-style: none;
  font-family: "Playfair Display", serif;
  color: #818189;
  font-size: 40px;
}
.rooms-bg .rooms-content ul li {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}
.rooms-bg .rooms-content ul li:hover {
  color: #3b38ad;
  font-weight: 500;
  position: relative;
  transform: translateX(40px);
}
.rooms-bg .rooms-content img {
  width: 660px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms-bg p {
  margin-top: 60px;
  margin-left: 70px;
  color: #3b38ad;
  font-weight: 100;
  width: 350px;
}
.rooms-bg button {
  display: flex;
  align-self: end;
  width: 350px;
  margin-top: 40px;
  margin-left: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  outline: none;
  border: none;
  background: rgb(59, 56, 173);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.pictures-bg {
  margin-top: 40px;
  width: 100%;
  height: auto;
  background: #f9f9f9;
}
.pictures-bg figure {
  width: 100%;
  display: flex;
  gap: 5px;
}
.pictures-bg figure .image-2-2 {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20%;
}
.pictures-bg figure .image-4-4 {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
}

.gym-bg {
  height: 500px;
  width: 100%;
  background: #f9f9f9;
}
.gym-bg h2 {
  color: #3b38ad;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.gym-bg .gym-content {
  display: flex;
  width: 100%;
}
.gym-bg .gym-content figure {
  width: 60%;
  display: flex;
  gap: 5px;
}
.gym-bg .gym-content figure .gym-image-1-1 {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gym-bg .gym-content figure .gym-image-2-2 {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gym-bg .gym-content .gym-text {
  width: 40%;
  margin-left: 100px;
  margin-right: 190px;
}
.gym-bg .gym-content .gym-text p {
  color: #3b38ad;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
}
.gym-bg .gym-content .gym-text button {
  border: 1px solid #3b38ad;
  color: #3b38ad;
  font-weight: 700;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 12px 24px;
  width: 100%;
  outline: none;
  background: transparent;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */