$color-primary: #3b38ad;
$color-text: #818189;
$background: #f9f9f9;
$white: #ffffff;
$font-playfair: "Playfair Display", serif;
$font-lato: "Lato", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  background: $background;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.header-bg {
  height: auto;
  width: 100%;
  background: $background;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-lato;
    .logo {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-primary;
      font-weight: 600;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 100px;
      color: $color-primary;
      font-weight: 600;
      text-transform: uppercase;
      .menu {
        position: relative;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        a {
          text-decoration: none;
          color: $color-primary;
        }
        .dropdown-menu {
          position: absolute;
          top: 30px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          height: auto;
          width: auto;
          z-index: 999;
          li {
            padding: 6px 0px;
            font-family: $font-lato;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            &:hover {
              color: $color-primary;
              font-weight: 500;
              position: relative;
              transform: translateX(20px);
            }
          }
          a {
            text-decoration: none;
            color: $color-text;
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}

.main-bg {
  height: auto;
  width: 100%;
  background: $background;
  h1 {
    color: $color-primary;
    font-size: 160px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font-playfair;
    position: relative;
    z-index: 99;
    &::before {
      content: "bem vindo ao";
      position: absolute;
      left: 0;
      top: -10px;
      color: $color-primary;
      font-size: 40px;
      font-weight: 400;
    }
  }
  .images-content-box {
    display: flex;
    gap: 40px;
    position: relative;
    margin-left: 70px;
    .image-one {
      width: 350px;
      position: relative;
      z-index: 1;
    }
    div {
      width: 350px;
    }
    .image-two {
      width: 350px;
      position: relative;
      z-index: 1;
      bottom: 80px;
    }
    button {
      color: $background;
      background: $color-primary;
      font-weight: 700;
      font-size: 18px;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      padding: 12px 24px;
      width: 350px;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
  div .pattern {
    position: relative;
    top: 68px;
    height: 250px;
    width: 250px;
    border-radius: 9999px;
    border: 1px solid $color-primary;
    background: transparent;
    &:before {
      position: absolute;
      top: 125px;
      right: -25px;
      content: "";
      width: 55px;
      height: 1px;
      background: $color-primary;
    }
  }
}

.rooms-bg {
  width: 100%;
  height: auto;
  background: $background;
  h2 {
    color: $color-primary;
    text-transform: uppercase;
    font-family: $font-lato;
    margin-bottom: 60px;
  }
  .rooms-content {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 70px;
      width: 350px;
      height: 400px;
      list-style: none;
      font-family: $font-playfair;
      color: $color-text;
      font-size: 40px;
      li {
        cursor: pointer;
        transition: 0.3s ease-in-out;
        position: relative;
        &:hover {
          color: $color-primary;
          font-weight: 500;
          position: relative;
          transform: translateX(40px);
        }
      }
    }
    img {
      width: 660px;
      height: 400px;
      object-fit: cover;
    }
  }
  p {
    margin-top: 60px;
    margin-left: 70px;
    color: $color-primary;
    font-family: $font-lato;
    font-weight: 300;
    font-size: 18px;
    width: 350px;
  }
  button {
    display: flex;
    align-self: end;
    width: 350px;
    margin-top: 40px;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    outline: none;
    border: none;
    background: rgb(59, 56, 173);
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
  }
}

.pictures-bg {
  margin-top: 40px;
  width: 100%;
  height: auto;
  background: $background;
  figure {
    width: 100%;
    display: flex;
    gap: 5px;
    .image-2-2 {
      height: 450px;
      object-fit: cover;
      width: 300px;
    }
    .image-4-4 {
      height: 450px;
      object-fit: cover;
      width: 890px;
    }
  }
}

.gym-bg {
  height: 500px;
  width: 100%;
  background: $background;
  h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    color: $color-primary;
    font-family: $font-lato;
    text-transform: uppercase;
  }
  .gym-content {
    display: flex;
    width: 100%;
    figure {
      width: 60%;
      display: flex;
      gap: 5px;
      .gym-image-1-1 {
        width: 300px;
        height: 350px;
        object-fit: cover;
      }
      .gym-image-2-2 {
        width: 445px;
        height: 350px;
        object-fit: cover;
      }
    }
    .gym-text {
      width: 40%;
      margin-left: 100px;
      margin-right: 190px;
      p {
        color: $color-primary;
        font-weight: 100;
        font-family: $font-lato;
        margin-bottom: 40px;
      }
      button {
        border: 1px solid $color-primary;
        color: $color-primary;
        font-weight: 700;
        font-size: 18px;
        font-family: $font-lato;
        text-transform: uppercase;
        padding: 12px 24px;
        width: 100%;
        outline: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}

.about-bg {
  height: auto;
  width: 100%;
  background: $background;
  h2 {
    color: $color-primary;
    font-family: $font-lato;
    text-transform: uppercase;
  }
  p {
    margin-top: 40px;
    margin-left: 70px;
    width: 500px;
    font-family: $font-lato;
    font-weight: 300;
    font-size: 20px;
    color: $color-primary;
    .highlight {
      font-size: 100px;
      font-family: $font-playfair;
    }
  }
  button {
    color: $background;
    background: $color-primary;
    margin-left: 70px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    padding: 12px 24px;
    width: 500px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  figure {
    display: flex;
    gap: 5px;
    img {
      filter: grayscale(100%);
    }
    .image-2-2 {
      width: 300px;
      height: 450px;
      object-fit: cover;
    }
    .image-4-4 {
      width: 890px;
      height: 450px;
      object-fit: cover;
    }
  }
}
