@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  background: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.header-bg {
  height: auto;
  width: 100%;
  background: #f9f9f9;
}
.header-bg nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}
.header-bg nav .logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #3b38ad;
  font-weight: 600;
}
.header-bg nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  color: #3b38ad;
  font-weight: 600;
  text-transform: uppercase;
}
.header-bg nav ul .menu {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header-bg nav ul .menu a {
  text-decoration: none;
  color: #3b38ad;
}
.header-bg nav ul .menu .dropdown-menu {
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: auto;
  z-index: 999;
}
.header-bg nav ul .menu .dropdown-menu li {
  padding: 6px 0px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
}
.header-bg nav ul .menu .dropdown-menu li:hover {
  color: #3b38ad;
  font-weight: 500;
  position: relative;
  transform: translateX(20px);
}
.header-bg nav ul .menu .dropdown-menu a {
  text-decoration: none;
  color: #818189;
}
.header-bg nav ul .menu .dropdown-menu a:hover {
  color: #3b38ad;
}

.main-bg {
  height: auto;
  width: 100%;
  background: #f9f9f9;
}
.main-bg h1 {
  color: #3b38ad;
  font-size: 160px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  position: relative;
  z-index: 99;
}
.main-bg h1::before {
  content: "bem vindo ao";
  position: absolute;
  left: 0;
  top: -10px;
  color: #3b38ad;
  font-size: 40px;
  font-weight: 400;
}
.main-bg .images-content-box {
  display: flex;
  gap: 40px;
  position: relative;
  margin-left: 70px;
}
.main-bg .images-content-box .image-one {
  width: 350px;
  position: relative;
  z-index: 1;
}
.main-bg .images-content-box div {
  width: 350px;
}
.main-bg .images-content-box .image-two {
  width: 350px;
  position: relative;
  z-index: 1;
  bottom: 80px;
}
.main-bg div .pattern {
  position: relative;
  top: 68px;
  height: 250px;
  width: 250px;
  border-radius: 9999px;
  border: 1px solid #3b38ad;
  background: transparent;
}
.main-bg div .pattern:before {
  position: absolute;
  top: 125px;
  right: -25px;
  content: "";
  width: 55px;
  height: 1px;
  background: #3b38ad;
}

.rooms-bg {
  width: 100%;
  height: auto;
  background: #f9f9f9;
}
.rooms-bg h2 {
  color: #3b38ad;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-bottom: 60px;
}
.rooms-bg .rooms-content {
  display: flex;
  justify-content: space-between;
}
.rooms-bg .rooms-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 70px;
  width: 350px;
  height: 400px;
  list-style: none;
  font-family: "Playfair Display", serif;
  color: #818189;
  font-size: 40px;
}
.rooms-bg .rooms-content ul li {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}
.rooms-bg .rooms-content ul li:hover {
  color: #3b38ad;
  font-weight: 500;
  position: relative;
  transform: translateX(40px);
}
.rooms-bg .rooms-content img {
  width: 660px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms-bg p {
  margin-top: 60px;
  margin-left: 70px;
  color: #3b38ad;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 350px;
}
.rooms-bg button {
  display: flex;
  align-self: end;
  width: 350px;
  margin-top: 40px;
  margin-left: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  outline: none;
  border: none;
  background: rgb(59, 56, 173);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.pictures-bg {
  margin-top: 40px;
  width: 100%;
  height: auto;
  background: #f9f9f9;
}
.pictures-bg figure {
  width: 100%;
  display: flex;
  gap: 5px;
}
.pictures-bg figure .image-2-2 {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
}
.pictures-bg figure .image-4-4 {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 890px;
}

.gym-bg {
  height: 500px;
  width: 100%;
  background: #f9f9f9;
}
.gym-bg h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #3b38ad;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.gym-bg .gym-content {
  display: flex;
  width: 100%;
}
.gym-bg .gym-content figure {
  width: 60%;
  display: flex;
  gap: 5px;
}
.gym-bg .gym-content figure .gym-image-1-1 {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gym-bg .gym-content figure .gym-image-2-2 {
  width: 445px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gym-bg .gym-content .gym-text {
  width: 40%;
  margin-left: 100px;
  margin-right: 190px;
}
.gym-bg .gym-content .gym-text p {
  color: #3b38ad;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
}
.gym-bg .gym-content .gym-text button {
  border: 1px solid #3b38ad;
  color: #3b38ad;
  font-weight: 700;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 12px 24px;
  width: 100%;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.about-bg {
  height: auto;
  width: 100%;
  background: #f9f9f9;
}
.about-bg h2 {
  color: #3b38ad;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.about-bg p {
  margin-top: 40px;
  margin-left: 70px;
  width: 500px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #3b38ad;
}
.about-bg p .highlight {
  font-size: 100px;
  font-family: "Playfair Display", serif;
}
.about-bg button {
  color: #f9f9f9;
  background: #3b38ad;
  margin-left: 70px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 12px 24px;
  width: 500px;
  border: none;
  outline: none;
  cursor: pointer;
}
.about-bg figure {
  display: flex;
  gap: 5px;
}
.about-bg figure img {
  filter: grayscale(100%);
}
.about-bg figure .image-2-2 {
  width: 300px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-bg figure .image-4-4 {
  width: 890px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq-bg {
  width: 100%;
  height: auto;
  background: #f9f9f9;
}
.faq-bg .faq-content {
  display: flex;
  gap: 20px;
}
.faq-bg .faq-content img {
  width: 40%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.faq-bg .faq-content ul {
  width: 60%;
  list-style: none;
}
.faq-bg .faq-content ul h3 {
  font-family: "Playfair Display", serif;
  color: #3b38ad;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.faq-bg .faq-content ul li {
  width: 100%;
  font-family: "Lato", sans-serif;
  border-bottom: 1px solid gray;
  padding: 20px 0px;
  cursor: pointer;
}
.faq-bg .faq-content ul span {
  display: none;
}

.specials-bg {
  height: auto;
  width: 100%;
  background: #f9f9f9;
}
.specials-bg h2 {
  font-family: "Lato", sans-serif;
  color: #3b38ad;
  text-transform: uppercase;
}
.specials-bg .specials-content-box {
  display: flex;
}
.specials-bg .specials-content-box div {
  width: 550px;
  border-top: 1px solid #3b38ad;
  border-right: 1px solid #3b38ad;
  text-align: center;
}
.specials-bg .specials-content-box div h3 {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  color: #3b38ad;
  text-transform: uppercase;
  padding: 20px 0px;
}
.specials-bg .specials-content-box div p {
  font-family: "Lato", sans-serif;
  color: #818189;
  padding: 0px 60px;
  padding-bottom: 30px;
}
.specials-bg .specials-content-box div:last-child {
  border-right: none;
}

.footer-bg {
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.footer-bg p {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 40px 0px;
  color: #3b38ad;
  font-size: 20px;
}
.footer-bg p a {
  text-decoration: none;
  color: #3b38ad;
}
.footer-bg p a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */